* {
    margin: 0;
    box-sizing: border-box;
}


body {
    
    font-family: sans-serif;
    line-height: 1.4;
}

.container {
    width: 1200px;
    margin: auto;
    border:3px solid black;
}


.product-page {
    margin: 30px 0;
    font-size: 30px;
    font-weight: bold;
}

.product-details{
    margin:30px 0;
}

.product-page a:visited, .product-page a:link{
    color:black;
}




header h2 {
    background-color: rgba(187, 181, 181, 0.7);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 30px;
}

main button {
    font-size: 28px;
}

main button:hover {
    color: white;
    background-color: black;
}


main p:nth-child(2) {
    font-size: 24px;
}

main p:nth-child(3) {
    color: grey;
    text-transform: uppercase;
}






ul {
    list-style-type: square;
    font-size: 25px;
}

main a:nth-child(5) {
    color: black;
}

main a:nth-child(5):active {
    color: black;
}

footer button {
    margin: 0;
    width: 100%;
    padding: 30px;
    text-transform: uppercase;


}