* {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font-family: sans-serif;
}

h1,
h2,
h3 {
    font-family: sans-serif;
}

nav{
    margin: 20px 0;
}

.header1{
    border:1px solid black;
    background-color:yellow;
    margin-bottom:20px;
}

.header1 p:nth-child(3){
    margin-top: 10px;
}

main header img:nth-child(3){
    width:600px;
    height:auto;
   
}

.milanA:active {
    background-color: black;
    color: red;
    font-weight: bold;
}


.operaia {
    font-size: 30px;
}

p span {
    font-size: 40px;
}

.interA:active,
main :nth-child(9) li:first-child:active {
    background-color: black;
    color: blue;
    font-weight: bold;
}

.manchester_united a:nth-child(2):active {
    background-color: orange;
    color: red;
    font-weight: bold;
}

/* Priorità selettori tramite proprietà applicate al footer*/


#copyright {
    color: red;
}

.copyright {
    color: blue;
}


/*.text sta sotto a .copyright ==> mangia il colore di .copyright ==> 
in assenza di id, il colore giallo mangia il blu e le scritta è quindi gialla*/

.text {
    color: yellow;
}

.squadre_inglesi{
    background-color:green;
    margin-top:20px;
    border:5px solid black;
    width:600px;
    
}

.titolo_squadre_inglesi{
    border:5px solid yellow;
    padding:50px;
    text-align:center;
    font-size:40px;
}
.corpo_squadre_inglesi{
    border: 5px solid red;
    padding:70px;
}

.corpo_squadre_inglesi  ul  li {
    margin-bottom: 35px;
}

footer p {
    color: green;
}

/* In questo caso il testo del p interno al footer sarà di colore rosso. */